<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Square</title>
    <link rel="stylesheet" href="css\style.css" />
    <link rel="stylesheet" href="css\style.bootstrap.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <div class="body_container">
      <!-- CENTRAL PANEL -->
      <div class="gif_container">
        <div class="row">
          <div class="col center ">
            <p class="text_m">N</p>
          </div>
          <div class="col-4 center">
            <p class="text_m w870">Waveform</p>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">2</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/saw/sawn2.webm"
            ></video>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">5</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/saw/sawn5.webm"
            ></video>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">12</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/saw/sawn12.webm"
            ></video>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">20</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/saw/sawn20.webm"
            ></video>
          </div>
        </div>
      </div>
      <!-- DESCRIPTION PANEL -->
      <div class="side_container_2">
        <p class="text_l center">Sawtooth Wave</p>
        <p class="text_ms">
            The sawtooth wave (or saw wave) is a kind of non-sinusoidal waveform. It is so named based on its resemblance to the teeth of a 
            plain-toothed saw with a zero rake angle. A single sawtooth, or an intermittently triggered sawtooth, is called a ramp waveform.
            The convention is that a sawtooth wave ramps upward and then sharply drops. In a reverse (or inverse) sawtooth wave, the wave ramps 
            downward and then sharply rises. It can also be considered the extreme case of an asymmetric triangle wave.
        </p>

  </body>
</html>
