<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Square</title>
    <link rel="stylesheet" href="css\style.css" />
    <link rel="stylesheet" href="css\style.bootstrap.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="body">
    <div class="body_container">
      <!-- CENTRAL PANEL -->
      <div class="gif_container">
        <div class="row">
          <div class="col center ">
            <p class="text_m">N</p>
          </div>
          <div class="col-4 center">
            <p class="text_m w870">Waveform</p>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">2</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/tri/trin2.webm"
            ></video>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">7</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/tri/trin7.webm"
            ></video>
          </div>
        </div>
        <div class="row">
          <div class="col center">
            <p class="text_label">20</p>
          </div>
          <div class="col-4 center">
            <video
              autoplay
              loop
              muted
              src="~/loops/tri/trin20.webm"
            ></video>
          </div>
        </div>
        </div>
              <div class="side_container_2">
        <p class="text_l center">Square Wave</p>
        <p class="text_ms">
          A square wave is a non-sinusoidal periodic waveform in which the
          amplitude alternates at a steady frequency between fixed minimum and
          maximum values, with the same duration at minimum and maximum. In an
          ideal square wave, the transitions between minimum and maximum are
          instantaneous. The square wave is a special case of a pulse wave which
          allows arbitrary durations at minimum and maximum amplitudes. The
          ratio of the high period to the total period of a pulse wave is called
          the duty cycle. A true square wave has a 50% duty cycle (equal high
          and low periods). Square waves are often encountered in electronics
          and signal processing, particularly digital electronics and digital
          signal processing. Its stochastic counterpart is a two-state
          trajectory.
        </p>
      </div>
    </div>
    </div>
  </body>
</html>
